body {
    background-color: black;
}

.loading-page-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-1 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-2 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-3 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-4 {
    background-color: #393535;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-4 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    right: 0;
    left: 0;
}

.calc-page {
    background-color: white;
}

.calc-display {
    background-color: black;
    justify-content: center;
    width: fit-content;
}

.calc-display input {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    text-align: right;
}

.calc-display .current {
    height: 4rem;
    font-size: 2rem;
}

.calc-page-contents {
    width: 45rem;
    margin: auto;
}