body {
    background-color: black;
}

.loading-page-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-1 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-2 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)), url("/images/pics/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-3 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
}

.loading-page-4 {
    background-color: #393535;
    height: 100vh;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    position: relative;
}

.loading-page-4 p {
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: #F20C0C;
    bottom: 0;
    position: absolute;
    bottom: 5rem;
    right: 0;
    left: 0;
}

.calc-page {
    background-color: white;
}

.calc-display {
    background-color: black;
}

.calc-display input {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    text-align: right;
}

.calc-display .current {
    height: 4rem;
    font-size: 2rem;
}

.calc-page-contents {
    width: 30rem;
    margin: auto;
}

button {
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: #C4C4C4;
}

.numbers {
    display: grid;
    grid-template-columns: 4.5rem 4.5rem 4.5rem;
    column-gap: 40px;
    row-gap: 40px;
    padding: 10px;
}

.operations {
    display: grid;
    grid-template-columns: 4.5rem;
    row-gap: 40px;
    padding: 10px;
    padding-left: 5rem;
    justify-content: center;
}

#equal-sign {
    width: 8rem;
    justify-self: center;
    background-color: #16F22C;
}